.header {

    height: 30px;
    
}

.header li {
    display: inline;
}

.header li.sag {
    float: right;
    padding-left: 10px;
    padding-right: 10px;
}

.googleresim {
    
    height: 200px;
    margin-top: 100px;
    text-align: center;
}

.arama {
    height: 50px;
    
    margin-top: 10px;
    width: 700px;
    margin: auto;
    border-style: none;
    border-radius: 25px;
    box-shadow: 1px 1px 1px 3px rgb(243, 241, 241);
           
;
}

.butonlar {
    height: 100px;
    /*background-color: cornflowerblue;*/
    margin-top: 10px;
    width: 500px;
    margin: auto;
}

body {
    /*background-color: gold;*/
    height: 600px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.footer {
    background-color:  #f2f2f2 ;
    height:50px;
    margin-top: 180px;
}

.arama li {
    
    display: inline;
    
}

.arama ul {
    padding-left: 0%;
    text-align: center;
}

.butonlar ul {
    padding-left: 0%;
    text-align: center;
}

.butonlar li {
    display: inline;
    padding: 10px;
}

.footer li {
    display: inline;
}

.footer li.sag {
    float: right;
    padding-left: 10px;
    padding-right: 10px;
}

.footer li.sol {
    padding-left: 10px;
    padding-right: 10px;
   
  
}

.header button {
    background-color: blue;
    color: white;
}

.arama textarea {
    border-style: none;
}

.header a {
    text-decoration: none;
}

.header li.sol {
    padding: 10px;
}

.butonlar button {
    width: 150px;
    height: 36px;
    margin-top: 30px;
    background-color: #f2f2f2;
    border-style: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer ul {
    padding-top: 15px;
}
